In [2]:
mylist = [1,2,3,"ali",4]
mylist

[1, 2, 3, 'ali', 4]

In [3]:
mylist[3]

'ali'

In [4]:
mydict = {"fname":"ali", "lname":"rezaii","age":21}
mydict

{'fname': 'ali', 'lname': 'rezaii', 'age': 21}

In [5]:
mydict["fname"]

'ali'

In [6]:
print(mydict["fname"], mydict["age"])

ali 21

In [7]:
# loops
students = ["ali","hasan","hossein"]
students.sort(reverse=True)
# print(students)

for student in students:
    print("I am ",student)

I am  hossein
I am  hasan
I am  ali

In [8]:
students.sort(reverse=True)
students

['hossein', 'hasan', 'ali']

In [9]:
students = [{"fname":"ali","age":20},{"fname":"maryam","age":21}]
# students

for i in students:
    print(i["fname"]," age is:",i["age"])

ali  age is: 20
maryam  age is: 21

In [10]:
# print("salam")

salam

In [12]:
# start using Pandas

import pandas

# print(students)

pandas.DataFrame(students)

    fname  age
0     ali   20
1  maryam   21

In [13]:
import pandas as pd

df = pd.DataFrame(students)
display(df)

    fname  age
0     ali   20
1  maryam   21

In [14]:
print(df)

    fname  age
0     ali   20
1  maryam   21

In [ ]:
pd.read